.site-title {
  font-size: 3rem;
}

.page-title {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 48px;
}

.custom-header {
  background-color: $white;
}

@media screen and (min-width: 48em) {
  
  .page.page-one-column .entry-header, .twentyseventeen-front-page.page-one-column .entry-header, .archive.page-one-column:not(.has-sidebar) .page-header {
    margin-bottom: .5em;
    padding-bottom: .5em;
  }

}

