.search-form .search-submit {
  color: $white;
  background-color: $red;
}

.search-form .search-submit:hover {
  background-color: $bright-red;
}

.wrap .menu-scroll-down {
  border: 2px solid $white;
}