
// SMC STYLE GUIDE - Sass Variables


// BRAND COLORS & THEMES


  // Backgrounds, Borders, Shadows, Text

  $white:       #FFFFFF;
  $silver:      #EAEAEA;
  $silver-gray: #D8D8D8;
  $light-gray:  #CFCFCF;
  $gray:        #C1C1C1;
  $medium-gray: #676767;
  $black:       #2F2F2F;
  $red:         #98002E;
  $bright-red:  #BA183E;
  $dark-red:    #7F0026;


  // College themes for exclusive use by Chapman University only

  $argyros:       #006185;
  $CES:           #003764;
  $copa:          #69465C;
  $copa-dance:    #007165;
  $copa-music:    #793141;
  $copa-theater:  #002E5F;
  $crean:         #1F8A84;
  $dodge:         #2F2F2F;
  $dowler:        #002F7C;
  $schmid:        #4A5E0F;
  $communication: #C88508;
  $pharmacy:      #008EC1;
  $wilkinson:     #008EC1;


// TYPOGRAPHY

  $futura-font:  Futura-PT, sans-serif;
  $minion-font:  Minion-Pro, serif;
  $proxima-font: Proxima-Nova, sans-serif;