user  {{ nginx_user }};

worker_processes {{nginx_worker_processes}};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
  worker_connections  {{nginx_worker_connections}};
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/access.log  main;
  #tcp_nopush     on;

  sendfile        on;

  keepalive_timeout  65;
  client_max_body_size 500M;

  # Internet Explorer Hack to make it render latest version
  add_header "X-UA-Compatible" "IE=Edge,chrome=1";

  #gzip  on;

  include /etc/nginx/conf.d/*.conf;
}