# WordPress multisite subdirectory rules.
# https://codex.wordpress.org/Nginx#Per_Site_configuration
# https://premium.wpmudev.org/blog/wordpress-multisite-wordpress-nginx/

map $uri $blogname{
    ~^(?P<blogpath>/[^/]+/)files/(.*)       $blogpath ;
}

map $blogname $blogid{
    default -999;

    #Ref: http://wordpress.org/extend/plugins/nginx-helper/
    #include /var/www/wordpress/wp-content/plugins/nginx-helper/map.conf ;
}

server {
    server_name  _;
    return 302 https://{{ nginx_redirect }};
}

server {
    server_name {{ nginx_server_name }};
    root {{ nginx_server_root }};
    index index.php;
    access_log /var/log/nginx/{{ nginx_server_name }}-access.log;
    error_log /var/log/nginx/{{ nginx_server_name }}-error.log;
    #include /etc/nginx/nginx.conf;
    include /etc/nginx/conf.d/restrictions.conf;
    include /etc/nginx/conf.d/wordpress-ms.conf;
    include /etc/nginx/conf.d/ssl.conf;

    ### CUSTOM REDIRECTS ###

    rewrite ^\/happenings\/(.*) https://{{ redirect_domain }}/news-and-stories/$1 permanent;
    rewrite ^\/happenings$ https://{{ redirect_domain }}/news-and-stories/ permanent;

    rewrite ^\/ourca\/(.*) https://{{ redirect_domain }}/undergraduate-excellence/$1 permanent;
    rewrite ^\/ourca$ https://{{ redirect_domain }}/undergraduate-excellence/ permanent;

    ##### CUSTOM REDIRECTS #####
    # cu-students -> admission redirect
    rewrite ^\/cu-students\/(.*) http://{{ redirect_domain }}/admission/$1 permanent;
    rewrite ^\/cu-students$ http://{{ redirect_domain }}/admission/ permanent;

    # panther-pause -> alumni redirect
    rewrite ^\/panther-pause\/(.*) http://{{ redirect_domain }}/alumni/$1 permanent;
    rewrite ^\/panther-pause$ http://{{ redirect_domain }}/alumni/ permanent;

    # /smc/article/digital-identity-for-college-students/ -> /smc/2013/03/07/digital-identity-for-college-students/
    rewrite ^\/smc\/article\/digital-identity-for-college-students\/$ http://{{ redirect_domain }}/smc/2013/03/07/digital-identity-for-college-students/ permanent;
    rewrite ^\/smc\/article\/digital-identity-for-college-students$ http://{{ redirect_domain }}/smc/2013/03/07/digital-identity-for-college-students/ permanent;

    # /asbe -> /business
    rewrite ^\/asbe\/(.*) http://{{ redirect_domain }}/business/$1 permanent;
    rewrite ^\/asbe$ http://{{ redirect_domain }}/business/ permanent;

    # Pather Alert Emergency (delete when alternative solution is found)
    rewrite /public-safety/2015/12/16/panther-alert-male-with-possible-weapon-reported-near-demille-hall/ /public-safety/2015/12/15/panther-alert-male-with-possible-weapon-reported-near-demille-hall/ permanent;

    # /ces -> /education
    rewrite ^\/ces\/(.*) http://{{ redirect_domain }}/education/$1 permanent;
    rewrite ^\/ces$ http://{{ redirect_domain }}/education/ permanent;

    # /happenings -> /news-and-stories
    rewrite ^\/happenings\/(.*) https://{{ redirect_domain }}/news-and-stories/$1 permanent;
    rewrite ^\/happenings$ https://{{ redirect_domain }}/news-and-stories/ permanent;

    # /ourca -> /undergraduate-excellence
    rewrite ^\/ourca\/(.*) https://{{ redirect_domain }}/undergraduate-excellence/$1 permanent;
    rewrite ^\/ourca$ https://{{ redirect_domain }}/undergraduate-excellence/ permanent;
}